*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue: hsl(223, 87%, 63%);

  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);

  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

body {
  font-family: 'Libre Franklin', sans-serif;
}

main {
  height: 90vh;
}

.wrapper {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* gap: 2rem; */
}

.banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.banner img {
  width: 50px;
}

h1 {
  font-weight: 700;
}

.header-light {
  color: var(--gray);
  font-weight: 400;
}

p {
  font-size: 0.8rem;
}

.input-feild {
  padding: 0.8rem;
  padding-inline: 1.5rem;
  border-radius: 20px;
  width: 80%;
  border: 1px solid var(--pale-blue);
}

.input-feild::placeholder {
  color: var(--gray);
}

.input-feild:focus,
.input-feild:active {
  outline-color: var(--pale-blue);
}

.btn {
  padding: 0.8rem;
  width: 80%;
  border-radius: 20px;
  background-color: var(--blue);
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  box-shadow: 0px 2px 6px var(--blue);
}

.dashboard-section {
  margin-bottom: 10rem;
}

.dashboard-image img {
  width: 100%;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo-section div .logo {
  fill: var(--blue);
  height: 35px;
  padding: 0.5rem;
  width: 35px;
  border: 1px solid var(--pale-blue);
  border-radius: 50%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
